@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@font-face {
    font-family: 'KBO-Dia-Gothic_bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'WarhavenB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/WarhavenB.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body{
    position: relative;
}
.main-home{
    position: absolute; top:0; left: 0;
    width: 100%;
    height: 100vh;
}
.main-home-left{
    width: 50%;
    height: 100%;
    position: fixed;top:0;left: 0;
    background-image: url(../resources/master_image/index_mainvisual\(2\).png);
}
.main-home-right{
    width: 50%;
    height: 100%;
    position: fixed; bottom:0;right: 0;
    background-color: tan;
    display: grid;
}
@media (max-width: 1200px) {
    .main-home-right, .main-home-left {
        width: 100%; height: 50vh;
    }
    h1{font-size: 4rem;}
}
h1{
    width: 100%; height: 100%;
    display: flex;
    text-shadow: 4px 2px 3px rgb(139, 4, 4);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'SEBANG_Gothic_Bold';
    color: white; 
    font-size: 2.5rem;
}
.right-box-wrap{
    float: left;
    grid-template-columns: 1fr 1fr;
}
.right-box{
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'SEBANG_Gothic_Bold';
    color: white;
    transition-duration: .5s;
}
.box-001{
    background-color: #9c246c;
}
.box-001:hover{
    background-color: #661646;
}
.box-002{
    background-color: #D31355;
}
.box-002:hover{
    background-color: #880e39;
}
.box-003{
    background-color: #E72B4C;
}
.box-003:hover{
    background-color: #8b1b30;
}
.box-004{
    background-color: #E83C4A;
}
.box-004:hover{
    background-color: #9c2730;
}
.box-005{
    background-color: #EB5747;
}
.box-005:hover{
    background-color: #8a2d23;
}
.box-006{
    background-color: #F49B57;
}
.box-006:hover{
    background-color: #a06131;
}
